body {

    margin : 0px ;

    padding :0px ;

    

}

.head {

    background: #009270;

    overflow: hidden ;
    width : 990px ;

  

}

.logo {

    

   width: 20% ;

    float: left ;

    overflow: hidden ;

}

.menu {

    width: 80% ;

    float : left ;

    overflow : hidden ;

 

}

.menu li {

    display: inline-block ;

    
}
    

.menu a {

    font-size : 30px ;

    font-family: helvetica ;

    color : #fff ;




}

    

    

    
